/* ----------------------------navbar font --------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
/* -----------------------navbar font end---------------------------------------------------------- */
*{
    margin: 0px;
    padding: 0px;
}
body{
    /* height: 100vh; */
    min-height: 100vh;
    /* background-color: #272727; */
    background-color: #131a1f;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

/* --------------------------------------- navbar 1 -------------------------------------------------- */
.navbar{
  width: 100%;
  /* height: 70px; */
  padding-top: 10px;
  padding-bottom: 10px;
  /* border: 2px solid red; */
  background-color: rgb(31, 37, 51);
  display: flex;
}
.left{
  width: 60%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
}
.website_name{
  display:flex;
  color: #c9c1f0;
  margin-left: 14px;
}
.logo{
  /* border: 2px solid green; */
  width: 40px;
  display: flex;
  align-items: center;
}
.logo .image{
width: 100%;
 
 }
.head {
  display:flex;
  justify-content: center;
  align-items: center;
}
 .head h2{
  /* right:0px; */
  font-family: 'Passion One', cursive;
  /* margin-top: 0px; */
  font-size: 40px;
  color:rgb(252, 107, 23);
  margin-left: 4px;
}
 .head h1{
   margin-left: 2px;
   font-family: 'Passion One', cursive;
   margin-top: 9px;
   color: #f3c13b;
   font-size: 23px;
}

.search{
  display:flex;
  width: 50%;
  align-items: center;
  /* margin-left: 200px; */

}
.search input{
  width: 100%;
  padding: 7px;
  /* box-sizing: border-box; */
  border-radius: 6px;
  margin-left: 10px;
  background-color: rgba(255,255,255,0.8);
  /* background-color: #dce4e1; */
}
.fa{
 cursor:pointer; 
 /* font-size:40px; */
 filter: invert(1);
 /* border: 2px solid red; */
 width: 21px;
 margin-left: 3px;
}

.right{
  width: 40%;
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.right a{
 text-decoration: none;
   color: #ffffff;
 ;
 margin-right: 40px;
 font-family: 'Open Sans', sans-serif;
 font-size: 17px;
}
.slider_parent{
  margin-top: 20px;
  margin-bottom: 20px;
display: flex;
justify-content: center;
/* background-color: rgb(255, 255, 255,0.2); */
}
.hamburger{
  display: none;
  width: 20%;
  /* border: 2px solid brown; */
  justify-content: flex-end;
  align-items: center;
}
.hamburger img{
  margin-right: 15px;
  width: 30px;
  height: 30px;
}
/* #signin_link{
  
} */
#user_logo{
  display: none;
}
#user_logo_img{
  margin-top: 5px;
  width: 33px;
}
/* -----------------------------navbar 1 end ------------------------------------------------------- */

.container
{
    width: 90%;
    margin-top: 20px;
    /* height: 100%; */
    border: 2px solid #847a7a;
    display: flex;
}
.container1250{
    /* border: 2px solid red; */
    display: flex;
}
.movie_img{
/* border: 2px solid green; */
/* margin-left: 10px; */
display: flex;
}
.movie_img img{
    width: 400px;
}
.extra{
    /* border: 2px solid blue; */
    display: none;
    width: 100%;
}
.movie_details{
    border-left: 2px solid #847a7a;
    padding: 20px;
    box-sizing: border-box;
    /* width: 30%; */
}
.heading{
    display: flex;
    align-items: center;
}
.heading img{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}
.heading h1{
 color:  white;
}
.heading h2{
 color:  #b8a9a9;
 /* font-size: 19px; */
}
.overview{
    margin-top: 10px;
}
.overview p{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
.book_now{
    /* border: 2px solid red; */
    text-align: center;
    margin-top: 20px;
}
.book_now button{
    width: 150px;
    /* height: 25px; */
    font-size: 20px;
    padding: 2px;
    background-color: #7eb0c7;
    box-shadow: 4px 4px 4px #594e4e;
    border-radius: 6px;
}
.trailer{
    border-left: 2px solid #847a7a;
    padding: 20px;
    box-sizing: border-box;
}
.trailer_vid{
    /* width: 300px;
    height: 200px; */
}




.scroll_container{
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-x: scroll;
    /* overflow-y: scroll; */
    /* height: 400px; */
    /* width: 1200px; */
    width: 80%;
    background-color: rgb(173,173,173,0.6);
    box-shadow:  30px 0px 30px #6f6a6a;
    /* box-shadow:  -30px 0px 30px grey; */
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 70px;
    /* background-color: white; */
}

.box{
    min-width:200px;
    width: 200px;
    /* height: auto; */
    border: 2px solid #565656;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    background-color: #d8d8d8;
}

.box img{
    width: 100%;
    /* width: 100px; */
    /* height: 400px; */
}
/* .cast_name{
    border: 2px solid red;
} */
.cast_name h1{
    font-size: 15px;
    text-align: center;
}
/* .cast_character{
    border: 2px solid red;
} */
.cast_character h1{
    text-align: center;
    font-size: 12px;
}

.scroll_container::-webkit-scrollbar{
    height: 10px;
    width: 0px;
}
.scroll_container::-webkit-scrollbar-thumb {
    /* width: 10px; */
    background:#8f8f8f; 
    border-radius: 10px;
  }
.scroll_container::-webkit-scrollbar-thumb:hover {
    /* width: 10px; */
    background:#a79b9b;
  }

  @media (min-width: 0px) and (max-width: 1460px)
  {
    .movie_img img{
        width: 20vw;
    }
    /* .trailer_vid{
        width: 40vw;
        height: 22.4vw;
    } */
    /* .overview p{
     font-size: 1vw;
    } */
  }
  @media (min-width: 0px) and (max-width: 1278px)
  {
    .container
    {
     flex-direction: column;
    }
    .trailer{
        display: flex;
        justify-content: center;
        border-left: none;
    }
    .container1250{
        border-bottom: 2px solid #847a7a;
    }
  }
  @media (min-width: 0px) and (max-width: 862px)
  {
   .overview p{
       font-size: 12px;
   }

  }
  @media (min-width: 0px) and (max-width: 740px)
  {
    .container1250{
        flex-direction: column;
    }
    .movie_img img{
        width: 150px;

    }
    .movie_img{
        border-bottom: 2px solid #847a7a;
        display: flex;
        /* box-sizing: border-box; */
        background-color: #6e6e6e;
    }
    .extra{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .movie_details{
        border-left: none;
    }
  }
  @media (min-width: 0px) and (max-width: 682px)
  {
    .trailer_vid{
        width: 80vw;
        height: 44.8vw;
    }
  }
  @media (min-width: 0px) and (max-width: 360px)
  {
    .extra img{
        width: 30vw;
    }
  }
  @media (min-width: 0px) and (max-width: 319px)
  {
    .extra{
        display: none;
    }
    .movie_img{
        background-color: transparent;
    }
  }
  @media (min-width: 0px) and (max-width: 1300px)
  {
    .box{
        min-width: 100px;
        width: 100px;
        height: 200px;
    }
    .cast_name h1{
        font-size: 13px;
    }
    .cast_character h1{
        font-size: 10px;
    }
  }
/* ---------------------------------------navbar 2 -------------------------------------------------- */
@media (min-width: 0px) and (max-width: 1000px)
{
  .right{
    display: none;
  }
  .left{
   width: 80%;
  }
  .hamburger{
    display: flex;
  }
  .sub-menu{
    display: none;
    background-color: rgba(31, 37, 51,0.7);
    }
    
    .hamburger:hover .sub-menu{
      display: block;
      position: absolute;
      list-style: none;
      margin-top: 16.8em;
      margin-left: -15px;
    }
    
    .hamburger:hover .sub-menu ul{
    list-style: none;
    display: block;
    }
    
    .hamburger:hover .sub-menu ul li{
      width: 150px;
      margin: 10px;
      padding: 10px;
      border-bottom: 1px solid wheat;
    }
    
    .hamburger:hover .sub-menu ul li:last-child{
      border-bottom: none;
    }
    .hamburger:hover .sub-menu ul li :first-child{
      margin-top: 0;
    }
    .hamburger:hover .sub-menu ul li a:hover{
      color: wheat;
    }
    .hamburger:hover .sub-menu ul li a{
      color: white;
      text-decoration: none;
    }

    .sub_menu{
      display: none;
      background-color:  rgba(31, 37, 51,0.7);
    }

    .dropdown a:hover .sub_menu{
      display: list-item;
      position: absolute;
    }
}
/* --------------------------------------------navbar 2 end--------------------------------------------- */

/* --------------------------------------navbar 3 --------------------------------------------------- */
@media (min-width: 0px) and (max-width: 500px)
{
  .website_name{
    margin-left: 4px;
  }
  .logo{
    /* border: 2px solid green; */
    width: 30px;
  }
  .head h2{
    font-size: 25px;
  }
   .head h1{
     margin-top: 9px;
     font-size: 15px;
  }
}
@media (min-width: 0px) and (max-width: 350px)
{

  .logo{
    /* border: 2px solid green; */
    width: 20px;
  }
  .head h2{
    font-size: 20px;
  }
   .head h1{
     margin-top: 6px;
     font-size: 10px;
  }
}
/* -------------------------------------- navbar 3 end ---------------------------------------------- */

/* ----------------------------------------------navbar 4 ------------------------------------------ */
/* signin */
.sub-menu{
  display: none;
  background-color: rgba(31, 37, 51,0.7);
  z-index: 1;
  }
  
  #signin_link:hover .sub-menu{
    display: block;
    position: absolute;
    list-style: none;
    /* margin-top: 15px; */
    margin-left: -15px;
  }
  
  #signin_link:hover .sub-menu ul{
  list-style: none;
  display: block;
  }
  
  #signin_link:hover .sub-menu ul li{ 
    width: 150px;
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid wheat;
  }
  #signin_link:hover .sub-menu ul li:last-child{
    border-bottom: none;
  }
  #signin_link:hover .sub-menu ul li :first-child{
    margin-top: 0;
  }
  #signin_link:hover .sub-menu ul li a:hover{
    color: wheat;
  }
  
  /* theater */
  
  .sub-menu{
    display: none;
    background-color: rgba(31, 37, 51,0.7);
    }
    
    #theater:hover .sub-menu{
      display: block;
      position: absolute;
      list-style: none;
      /* margin-top: 15px; */
      margin-left: -15px;
      z-index: 1;
    }
    
    #theater:hover .sub-menu ul{
    list-style: none;
    display: block;
    }
    
    #theater:hover .sub-menu ul li{
      width: 150px;
      margin: 10px;
      padding: 10px;
      border-bottom: 1px solid wheat;
    }
    
    #theater:hover .sub-menu ul li:last-child{
      border-bottom: none;
    }
    #theater:hover .sub-menu ul li :first-child{
      margin-top: 0;
    }
    #theater:hover .sub-menu ul li a:hover{
      color: wheat;
    }
  
    /* Movie */
  
  
  .sub-menu{
    display: none;
    background-color: rgba(31, 37, 51,0.7);
    }
    
    #Movie:hover .sub-menu{
      display: block;
      position: absolute;
      list-style: none;
      /* margin-top: 15px; */
      margin-left: -15px;
      z-index: 1;
    }
    
    #Movie:hover .sub-menu ul{
    list-style: none;
    display: block;
    }
    
    #Movie:hover .sub-menu ul li{
      width: 150px;
      margin: 10px;
      padding: 10px;
      border-bottom: 1px solid wheat;
    }
    
    #Movie:hover .sub-menu ul li:last-child{
      border-bottom: none;
    }
    #Movie:hover .sub-menu ul li :first-child{
      margin-top: 0;
    }
    #Movie:hover .sub-menu ul li a:hover{
      color: wheat;
    }
  
    /* User-logo */
  
    .sub-menu{
      display: none;
      background-color: rgba(31, 37, 51,0.7);
      }
      
      #user_logo:hover .sub-menu{
        display: block;
        position: absolute;
        list-style: none;
        /* margin-top: 15px; */
        /* width: 80px; */
        margin-left: -125px;
        z-index: 1;
      }
      
      #user_logo:hover .sub-menu ul{
      list-style: none;
      display: block;
      }
      
      #user_logo:hover .sub-menu ul li{
        width: 150px;
        margin: 10px;
        padding: 10px;
        border-bottom: 1px solid wheat;
      }
      
      #user_logo:hover .sub-menu ul li:last-child{
        border-bottom: none;
      }
      #user_logo:hover .sub-menu ul li :first-child{
        margin-top: 0;
      }
      #user_logo:hover .sub-menu ul li a:hover{
        color: wheat;
      }
  
      /* hamburger */
  
      .home{
        padding: 5px 8px 5px 8px;
      }
     #hamburger_after_login{
        display: none;
     }
/* -------------------------------------- navbar 4 end ---------------------------------------------- */